{% extends 'base.html' %}

{% comment %}
lejoueur       = User.objects.get(pk=joueur_id)
redAuteur      = Redico.objects.filter(createur=lejoueur)
redParticipant = Proposition.objects.filter(auteur=joueur_id).values('redico__id', 'redico__titre').distinct()
{% endcomment%}

{% block content %}
	<h2> Profil d'activité de {{ lejoueur }} </h2><br />
	<table border="1">
		<td>Liste des redicos démarés par <b>{{ lejoueur }}</b>.</td> 
	</table>
	
	<table border"3">
		{% if redAuteur%}
			{% for r in redAuteur %} 
			<tr><td><a href="/redico/{{ r.id }}/">{{ r }} </a></td></tr>	
			{% endfor %}
		{% else %}
			<tr><td>------{{ lejoueur }} n'a démarré aucun redico.</tr></td>
		{% endif %}   
	</table> 


	<br />
	<table border="1">
			<td><b>{{ lejoueur }}</b> participe aux redicos suivants.</td> 
	</table>
	<table border="3">
		{% if redParticipant%}
			{% for r in redParticipant %} 
			<tr><td><a href="/redico/{{ r.redico__id }}/">{{ r.redico__titre }} </a></td></tr>	
			{% endfor %}   
		{% else %}
			<tr><td>------{{ lejoueur }} ne participe à aucun redico.</tr></td>
		{% endif %}   
	</table>
	

{% endblock %}

{% block lapage %}
	templates-joueurs-details.html 
{% endblock %}


 
