{% extends 'base.html' %}
{% load evaluations_tags %}
{% comment %}
joueur_context = { 'lejoueur':lejoueur,
                   'redAuteur':redAuteur,
                   'redParticipants':redParticipants }
{% endcomment%}

{% block content %}
	<table border="1">
		<tr>
		<caption>Profil d'activité de {{ lejoueur }}</caption>
		<th>Les redicos démarrés par {{ lejoueur }}:</th> 
		</tr>
		{% if redAuteur %}
			{% for r in redAuteur %} 
			<tr><td><a href="/redico/{{ r.id }}/">{{ r }} </a></td></tr>	
			{% endfor %}
		{% else %}
			<tr><td>------{{ lejoueur }} n'a démarré aucun redico.</tr></td>
		{% endif %}   
		<br />


		<th>{{ lejoueur }} participe aux redicos suivants:</th> 
		{% if redParticipants %}
			{% for r in redParticipants %} 
			<tr><td><a href="/redico/{{ r.proposition__redico__id }}/">{{ r.proposition__redico__titre }} </a></td></tr>	
			{% endfor %}   
		{% else %}
			<tr><td>------{{ lejoueur }} ne participe à aucun redico.</tr></td>
		{% endif %}   
	</table>
	

{% endblock %}

{% block lapage %}
	templates-joueurs-details.html 
{% endblock %}


 
