{% extends 'base.html' %} 
{% load evaluations_tags %}

{% block content %}
	<br />
	<br />
	<table border="1" >
	<caption>Les joueurs</caption>
		{% for joueur in joueur_list %}
		<tr>
			<td>{{ joueur.username }}</a></td>
			<td><a href="/joueur/{{ joueur.id }}/"> <button>Profil d'activité</button></a></td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block lapage %} 
	templates-joueurs-index.html 
{% endblock %}
