{% extends 'base.html' %}
{% block content %}
	<h2> Joueurs </h2>
	<ul>
		{% for joueur in liste_des_joueurs %}
		<li>{{ joueur.username }}</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block joueur %}
	{{ request.user.username }}
{% endblock %}