{% extends "base.html" %}
{% load evaluations_tags %}

{# comment #}
prop
red
joueur
evals
{# endcomment #}

{% block title %}Évaluation d'une proposition{% endblock %}
{% block content %}
	<h3>Redico: {{ red }}</h3>

	{% if prop.preambule %}
		<br />
		Préambule: {{ prop.preambule}}	
		<br />
	{% endif %}
	Proposition: {{ prop }} [{{ prop.auteur }}] 

    <form method="POST" action=".">{% csrf_token %}
        {{ form.as_p}}
    <input type="submit" value="Enregistrer" />
    </form>
{% endblock content %}

{% block lapage %} 
	 templates-evaluation-ajout.html 
{% endblock lapage %}


