{% extends 'base.html' %}

table.wide-table { width:400px; }

{% block content %}
	<h2> Info sur l'évaluation </h2>
	<table class="wide-table">
		<tr> <td> Joueur      </td> <td> {{ e.joueur }} </td> </tr>
		<tr> <td> Proposition </td> <td> {{ e.proposition }} </td> </tr>
		<tr> <td> Commentaire </td> <td> {{ e.commentaire }} </td></tr>
		<tr> <td> Date        </td> <td> {{ e.date_eval }} </td></tr>
		<tr> <td> Évaluation  </td> <td> {{ e.eval }} </td></tr>
	</table>
{% endblock %}

{% block lapage %} 
	 templates-evaluations-details.html 
{% endblock %}