{% extends 'base.html' %} 

{% block content %}
{% if eval_list %}
	<h2> Évaluations </h2>
	<table width=600; border="1">	
		{% for ev in eval_list %}
		<tr> 
			<td> <a href="/evaluation/{{ ev.id }}/"> </td> 
			<td>{{ ev }}</a></td>
		</tr>
		{% endfor %}
	</table>
{% else %}
    <p>Aucune évaluation à lister.</p>
{% endif %}
	
{% endblock %}