body
{
font-size:90%;
font-family:"Helvetica",arial, 'sans serif'; 
background-color:#DCDCDC;
color:#8A2BE2;
margin:10px;
}

#header{	background: #ccc;	padding: 20px; width: 50%; }
#header h1 { margin: 0;  }

#container {	margin: 0 auto;	width: 1000px;	background: #ccc;}
#content-container {	float: left;	width: 1000px;	background: #fff }
#content {	color:blue; float: ; background: ;	width: 90%;	padding: 20px 0; margin: 0 0 0 30px;}
#content h2 { margin: 0; }

#navigation{ float: left;	width: 1000px;	background: #333;}
#navigation ul{	margin: 0;	padding: 0;}
#navigation ul li {	list-style-type: none;	display: inline;}
#navigation li a {	display: block;	float: left; padding: 5px 10px;	color: #fff; text-decoration: none;	border-right: 1px solid #fff;}
#navigation li a:hover { background: #383; }
#section-navigation {	float: left;	width: 160px;	padding: 20px 0;	margin: 0 20px;	display: inline;}
#section-navigation ul {	margin: 0;	padding: 0;}
#section-navigation ul li {	margin: 0 0 1em;	padding: 0;	list-style-type: none;}
#aside {	float: right;	width: 200px;	padding: 20px 0;	margin: 0 20px 0 0;	display: ;}
#userinfo {	float: left;	width: 600px;	padding: 20px 0;	margin: 0 20px 0 0;	}
#aside h3 { margin: 0; }
#footer { clear: left; background: #ccc; text-align: right;	padding: 10px;	height: 1%; }
#statut { color:green }
#detail_stats_table { }
#colonne-droite { float: right;	width: 250px;	background: #ccc;}
#userlinks{ float: ;	width: 100%;	background: #ccc;}
#userlinks2{ float: ;	width: 100%;	background: #ccc;}
#form_ajout_prop {  }

#login { }
#register { }

.code_A{ background: #00FF00 ; color: black; }
.code_a{ background: #006633 ; color: white;}
.code_O{ background: #33FFFF;  color: black; }
.code_d{ background: #980000 ; color: white; }
.code_D{ background: #FF0000 ; color: white;}
.code_X{ background: ;         color: ;} 


 fieldset {  
 width:220px;  
 font-size:75%;
 font-family:"Helvetica",arial, 'sans serif'; 
 }  
 legend {  
 width:100px;  
 text-align:center;  
 background:#DDE7F0;  
 border:solid 1px;  
 margin:1px;  
 font-weight:bold;  
 color:#0000FF;  
 }  

