<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load evaluations_tags %}
<html>
	<head>
		<META http-equiv="Content-Style-Type" content="text/css">
		<link rel="stylesheet" type="text/css" href="/static/redico.css" />
		<title>{%  block title %} Le Redico {% endblock%}</title>
	</head>
	
	<body>
		<div id="container">
			<div class="header">
				{% block header %}
					<h1>Le Redico</h1>
				{% endblock %}
			</div>

			<div id="navigation">
				<ul>
 				<li><a href="/joueurs/">Joueurs</a></li>
				<li><a href="/redico/">Liste des Redicos</a></li>
				</ul>
			</div>	
			
			<div id=colonne-droite>
				{% block colonne-droite %}
					{% block alert %}
					{% endblock alert %}

				{% block statut %}
				<div id="statut">
					<ul>
					<table border="1" width = 90%>	
						{% if user.is_authenticated %}
								<caption>Statut</caption> 
								<tr><td>{{ user }} est logué.</td></tr>  
								<tr><td><a href="/accounts/logout">Se déloguer</a></td><tr>
						{% else %}
								<caption>Statut</caption> 
								<tr><td>Vous n'êtes pas logué.</td></tr>  
								<tr><td><a href="/accounts/login">Se loguer</a></td><tr>
						{% endif %}
					</table>
					</ul>
				</div>	
					{% endblock statut %}


				<div id="login">
						{% block login %}
							{#{% include "registration/login.html" %}#}
						{% endblock login %}	

				</div>	


				<div id="joueurs-actifs">
					{% block joueurs-actifs %}

					<ul>
						<table border="1" width = 90%>
						<caption>Joueurs les plus actifs</caption>
							{% for j in joueurs_actifs %}
							<tr>
								<td><a href="/joueur/{{ j.joueur__id }}/"> {{ j.joueur__username }}</a></td>
							<td>{{ j.cnt }}</td> 
							</tr>
							{% endfor %}
						</table>
					</ul>
					{% endblock joueurs-actifs %}
				</div>


				<div id="redicos-importants">
					{% block redicos-importants %}

					<ul>
						<table border="1" width = 90%>
						<caption>Redicos les plus gros</caption>
							{% for r in joueurs_actifs %}
							<tr>
								<td><a href="/redico/{{ r.redico__id }}/"> {{ r.redico__titre|truncatewords:5 }}</a></td>
							<td>{{ r.cnt }}</td> 
							</tr>
							{% endfor %}
						</table>
					</ul>
					{% endblock redicos-importants %}

				</div>

				<div id="redicos-dynamiques ">
					{% block redicos-dynamiques %}
					<ul>
						<table border="1" width = 90%>
						<caption>Redicos les plus dynamiques</caption>
							{% for r in redicos_dynamiques %}
							<tr>
								<td><a href="/redico/{{ r.redico__id }}/"> {{ r.redico__titre|truncatewords:5 }}</a></td>
							<td>{{ r.cnt }}</td> 
							</tr>
							{% endfor %}
						</table>
					</ul>
					{% endblock redicos-dynamiques %}
				</div>
				
				{% endblock colonne-droite %}

			</div>

			<div id="content">
				{% block content %}  
							
				{% endblock %}
			</div>
			
			<div id="footer">
				<div id="footer">
					Footer © Site name, 2011
				</div>
							
				<div class="lapage">
					{% block lapage %} 
					{% endblock lapage %}
				</div>
			</div>	
		
		</div>

	</body>
</html>


