
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML>

<head>
<title></title>
<style type="text/css">
	
<!-- 	

#container {	margin: 0 auto;	width: 1000px;	background: #fff;}
.header{	background: #ccc;	padding: 20px; width: 100%; }
#header h1 { margin: 0; }
#navigation{	float: left;	width: 1000px;	background: #333;}
#navigation ul{	margin: 0;	padding: 0;}
#navigation ul li {	list-style-type: none;	display: inline;}
#navigation li a {	display: block;	float: left;	padding: 5px 10px;	color: #fff;	text-decoration: none;	border-right: 1px solid #fff;}
#navigation li a:hover { background: #383; }
#content-container {	float: left;	width: 1000px;	background: #fff url(/wp-content/uploads/layout-three-fixed-background.gif) repeat-y 100% 0;}
#section-navigation {	float: left;	width: 160px;	padding: 20px 0;	margin: 0 20px;	display: inline;}
#section-navigation ul {	margin: 0;	padding: 0;}
#section-navigation ul li {	margin: 0 0 1em;	padding: 0;	list-style-type: none;}
#content {	float: left;	width: 500px;	padding: 20px 0;	margin: 0 0 0 30px;}
#content h2 { margin: 0; }
#aside {	float: right;	width: 200px;	padding: 20px 0;	margin: 0 20px 0 0;	display: none;}
#aside h3 { margin: 0; }
#footer { clear: left; background: #ccc; text-align: right;	padding: 20px;	height: 1%; }
.login {float: right; border:4px solid blue; }

</div>
 } 
--> 
</style>

</head>
<body>

<div id="container">
	
	<div class="header">
		{% block header %}<h1>Le Redico</h1>{% endblock %}
	</div>	

	<div class="idjoueur">
		{% block idjoueur %} {{ request.user }}	est logué et peut participer aux redicos.{% endblock %}
	</div>	

	<div class="lapage">
		{% block lapage %} {% endblock %}
	</div>	

	<div id="navigation">
		<ul>
			<li><a href="/joueur/">Joueur</a></li>
			<li><a href="/redicos/">Redicos</a></li>
			<li><a href="/proposition/">Proposition</a></li>
			<li><a href="/evaluation/">Evaluation</a></li>
			<li><a href="/rapport/">Rapport </a></li>
			<li><a href="/accounts/login/">Se loguer</a></li>
			<li><a href="/accounts/logout/">Se déloguer</a></li>
		</ul>
	</div>

	<div id="content-container">
		<div id="section-navigation">
			<ul>
			<li><a href="/joueur/">Joueur</a></li>
			<li><a href="/redico/">Redico</a></li>
			<li><a href="/proposition/">Proposition</a></li>
			<li><a href="/evaluation/">Evaluation</a></li>
			<li><a href="/rapport/">Rapport </a></li>
			</ul>
		</div>

		<div id="content">
		{% block content %} {% endblock %}
		</div>

		<div id="aside">
			<h3>
				Aside heading
			</h3>
			<p>
				Duis 
			</p>

		</div>

		<div id="footer">
			Footer © Site name, 2011
		</div>
	</div>
</div>
</body>
</html>


