<div id="footer">
		<hr>
		<table text-align="left">
			<tr><td>Le Redico est une idée de <a href="http://www.sceptiques.qc.ca/forum/introduction-au-redico-t277.html">Denis des Sceptiques du Québec</a></td></tr>
			<tr><td>Contacter le <a href="mailto:redico@alwaysdata.net">concepteur du site<a></td></tr>
			<tr><td>Date: {% now "Y-m-d H:i" %}</td></tr>
   		</table>
		<hr>

		<div id="google_translate_element"></div>
			<script type="text/javascript">
			function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'fr', 
				layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 
				'google_translate_element');
			}
			</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			

</div>	
