

	<table border="1" width="60%" align="center" >
	<br /><caption><strong>Les lois du redico</strong></caption>
		<tr>	
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r0"><button>1</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r1"><button>2</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r2"><button>3</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r3"><button>4</button></a></td>
		</tr>	
		<tr>	
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r4"><button>5</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r5"><button>6</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r6"><button>7</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r7"><button>8</button></a></td>
		</tr>	
		<tr>	
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r8"><button>9</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r9"><button>10</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r10"><button>11</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r11"><button>12</button></a></td>
		</tr>	
		<tr>	
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r12"><button>13</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r13"><button>14</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r14"><button>15</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r15"><button>16</button></a></td>
		</tr>	
		<tr>	
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r16"><button>17</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r17"><button>18</button></a></td>
			<td><a href="http://www.sceptiques.qc.ca/forum/faq.php?mode=redico#f1r18"><button>19</button></a></td>
		</tr>	
	 </table>

