<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<HTML>
	<HEAD>
		<TITLE>Le Redico</TITLE>
		<LINK rel="stylesheet" type="text/css" href="smartstyle.css">
	</HEAD>
	<BODY> <BODY 
			BGCOLOR="#FFFFCC" 
			TEXT=BLACK 
			LINK=BLUE
			VLINK=PURPLE
			ALINK=RED >


		<div id="menu" align="ledt" >
			<a href="/joueur/">Joueur</a>
			<a href="/redico/">Redico</a>
			<a href="/proposition/">Proposition</a>
			<a href="/evaluation/">Évaluation</a>
			<a href="/rapport/">Rapport </a>
		</div>
	{% block content %}{% endblock %}

	</BODY>
</HTML>