{# propositions/ajout.html#}
{% extends "base.html" %}
{% load evaluations_tags %}
{% block colonne-droite %}{% endblock %}
{% block content %}

Ajout d'une proposition au redico : <b>{{ redico }}</b><br />
Le champ texte est obligatoire les autres sont facultatifs.

    <form id="form_ajout_prop" method="POST" action=".">{% csrf_token %}
        {{ form.as_p}}
    <input type="submit" value="Sauvegarde" />

    </form>
{% endblock content %}

{% block lapage %} 
	 templates-propositions-ajout.html 
{% endblock lapage %}
