{% extends "base.html" %}
{% load evaluations_tags %}
{% comment %}
red,
prop,
ev,
avg
{% endcomment %}

{% block content %}
	<h2> {{ red.titre }}  </h2> 
	
	<table width=50%; border="1">
		<tr> <td>  Preambule  </td> <td> {{ prop.preambule|safe|urlize|urlize|removetags:"span script a" }}</td> </tr>
		<tr> <td>  Proposition</td> <td> {{ prop.texte|safe|urlize|urlize|removetags:"span script a" }}</td> </tr>
		<tr> <td>  Lien       </td> <td> {{ prop.lien|urlize|urlize|removetags:"span script a" }} </td> </tr>
		<tr> <td>  Auteur     </td> <td> {{ prop.auteur }}      </td> </tr>
		<tr> <td>  Date       </td> <td> {{ prop.date_de_pub }} </td> </tr>
		<tr> <td>  Redico     </td> <td> {{ prop.redico }}      </td> </tr>
		
	</table>
	

	<table width=50%; border="1">
	<caption>Évaluations actuelles de cette proposition></caption>	
	{% if not ev %}
		Personne encore n'a évalué cette proposition.
	{% else %}	
		{% for e in ev %}
			<tr>
		  	     <td><a href="/redico/{{prop.redico.id}}/proposition/{{prop.id}}/evaluation/edit">{{ e.joueur }}</td> <td>{{ e.eval }} </a></td>
				<td> {{ e.commentaire|safe|urlize }} </td> 
		  	</tr>
		{% endfor %}
		
	{% endif %}	
	</table>
		<td><tr><h3> Moyenne des évaluations : {{ avg.eval__avg|floatformat }}</h3></tr></td>	

{% endblock %}

{% block lapage %} 
	 templates-propositions-detail.html 
{% endblock %}
