{% extends 'base.html' %} 

{% comment %}
	propositions/index.html
{% endcomment %}




{% block content %}

{% if props %}
	<h2> Propositions du redico: {{ red }}</h2>
	<table border="3">
	<tr>
		<th>No.</th><th>Proposition</th><th>Évaluationsr</th>
    </tr>

			{% for p in props %}
			<tr>
				<td>{{ p.sequence }}</td>
				  <td> 
				  {% if p.preambule %}
				  	   Préambule: {{ p.preambule|urlize }}<hr>
				  {% endif %}
				  <a href="/redico/{{ red.id }}/proposition/{{ p.sequence }}/"></a>
				  			{{ p|urlize }} [{{ p.auteur }}] <p>
				  
				  {% if p.lien %}					  				
			  			<hr>
		   			    Lien: {{ p.lien|urlize }}</td>
				  {% endif %}	
				  {% if p.auteur == request.user %}
					  <p><a href="/redico/{{ red.id }}/proposition/{{ p.sequence }}/edit/"><h6>Éditer cette proposition</h6></a>
				  {% endif %}
				  				</td>
				<td><h6>
						{% for e in p.evaluation_set.all %}
							{{ e }} <p>
						{% endfor %}
						<a href="/redico/{{ red.id }}/proposition/{{ p.sequence }}/evaluation/ajout/">Évaluer</a>
				</h6></td>
				  
				  
			</tr>	  
			{% endfor %}
	</table>
{% else %}
    <p>Aucune proposition à lister.</p>
{% endif %}

	<a href="/redico/{{ red.id }}/proposition/ajout"> Ajouter une proposition </a>	
{% endblock %}

{% block lapage %} 
	 templates-propositions-index.html 
{% endblock %}