{% extends "base.html" %}
{% load evaluations_tags %}

{% block title %}Ajout d'une redico{% endblock %}
{% block colonne-droite %}{% endblock %}

{% block content %}
    	<form method="POST" action=".">{% csrf_token %}
	    	<table cellpadding="0">
	        		{{ form.as_p }}
	        </table>
		    <input type="submit" value="Ajouter" />
	    </form>
{% endblock content %}

{% block lapage %} 
	 templates-redicos-ajout.html 
{% endblock %}
