<br />
<table id="codes" border="2" class="" width=60%>
	<caption>Explication des codes</caption>
	<tr>
	<td class="code_A">
		0 &lt 10% Code A (accord fort)
	</td>
	<td class="code_a">
		10% &lt 33.3% Code a (accord mitigé)
	</td>
	<td class="code_O">
		33.3% &lt 66.7% Code O (opinion orthogonale)
	</td>
	<td class="code_d">
		66.7% &lt 90% Code d (désaccord mitigé)
	</td>
	<td class="code_D">
		90% &le 100% Code D (désaccord fort)
	</td>
	<td>
		-- (Abstention ou pas encore évaluée)
	</div></td>
	</tr>
</table>
