{% extends "base.html"  %}

{% block content %}
<ol>

<li>Pour participer activement vous devez <a href="http://redico.alwaysdata.net/accounts/register/">vous inscrire sur le site</a>
	<ol>
		<li>Nom d'usager: pas d'accent dans le nom
		<li>Adresse de courriel: pas d'adresses sur des serveurs de spam.
		<li>Vous recevrez par courriel un lien cliquable qui complètera votre inscription.
	</ol>
</li>


<li>Quand vous serez inscrit <a href="http://redico.alwaysdata.net/accounts/login">vous devrez vous loguer</a> pour pouvoir inscrire vos 
propositions et évaluations:</li>

<li>Consulter la <a href="http://redico.alwaysdata.net/redico/">liste des redicos </a>et  cliquez sur  celui 
qui vous intéresse</li>

<li>Avant de faire des propositions vous devez évaluer celles qui font déjà partie du redico si celui-ci est 
déjà commencé. </li>

<li>Si vous entrez dans un redico déjà très avancé vous pouvez n'évaluer que les 25 dernières propositions. 
Si vous êtes logué ça vous mènera à la page suivante: </li>

<li>Pour ajouter vos propres propositions cliquez sur le bouton "Ajouter une proposition". </li>

<li>Les astérisques à coté des évaluations indiquent que cette évaluation est commentée. Cliquez dessus 
pour lire le commentaire à l'évaluation. </li>

<li>Que vous soyez inscrit ou non, vous pouvez voir l'avancement d'une partie en 
cliquant sur le <a href="http://redico.alwaysdata.net/redico/6/statsdetail/"> "bouton Tableau des statistiques"</a>.
</li>

<li>Les pages sont parfois longue et les boutons Haut et Bas vous permettent de naviguer du haut au bas de 
la page.
</li>

<li>
	Les "règles officielles du redico" sont <a href="http://www.sceptiques.qc.ca/forum/introduction-au-redico-t277.html">sur cette page</a>
</li>
<li>
	Si vous êtes nouveau, nous vous conseillons de vous familiariser avec le redico en regardant 
attentivement 
quelques parties déjà en cours ou terminée.
</li>

<li>
	Bon redico. <tr><td><a href="mailto:redico@alwaysdata.net">Nous rejoindre.<a></td></tr>

</li>

</ol>
{% endblock content %}
