{% extends "propositions/detail.html" %}

{% block content %}
	<h2> Redico "{{ red.titre }}"
		</h2><h6>(redico créé par {{ red.createur }} 
			le {{ red.debut|date:"Y-m-d" }})</h6>
<hr>

	<h2>Les propositions </h2>
				Évaluations: <br />
					{% for p in props %}
						{{ p.texte }} <br />
						<tr><td> {{ p }} {{ p.evaluation_set.all }} <br / ></td></tr>
		                <tr><td><a href="/redico/{{ red.id }}/proposition/{{ item.id }}/evaluation/ajout/">
		                Évaluer</a>
		                </td></tr> 
		                <br />
					{% endfor%}
					<br /><a href="/redico/{{ red.id }}/proposition/ajout" /> Ajouter une proposition </a>
{% endblock %}

{% block lapage %} 
	 templates-redicos-details.html 
{% endblock %}