{% extends "base.html" %} 

{% block content %}

{% if redico_list %}
	<h2> Redicos </h2>
	<table border="1">
		<tr>
		<th>Titre</th>
		<th>Créateur</th>
		<th>Début</th>
		<th>Nb props</th>
		
    </tr>

		{% for redico in redico_list %}
		<tr>
			<td><a href="/redico/{{ redico.id }}/">
			    {{ redico.titre|urlize }}</a></td>
			<td>{{ redico.createur }}</td>
			<td>{{ redico.debut|date:"Y-m-d" }}</td>
			<td><a href="/redico/{{ redico.id }}/propositions/">{{ redico.proposition__count }}</a></td>			
			
			
			<td>{{ redico.joueurs__count }}</td>
		</tr>
		{% endfor %}
	</table>
	
{% else %}
    <p>Aucun redico à lister.</p>
{% endif %}
	
{% endblock %}

{% block lapage %} 
	 templates-redicos-index.html 
{% endblock %}
