{% extends "base.html" %}

{% comment %}
Parms :
red        = Redico.objects.get(pk=redico_id)
props      = Proposition.objects.filter(redico=redico_id) # Cf props.evaluateurs
dejaEvalue = Evaluation.objects.filter(joueur=request.user.id).values('proposition')
{#{% extends "propositions/detail.html" %}#}
{% endcomment %}

{% block content %}

	<h2> Redico "{{ red.titre }}"
		</h2><h6>(redico créé par {{ red.createur }} 
			le {{ red.debut|date:"Y-m-d" }})</h6>
<hr>

	<h2> Participants: 
		{% for p in participants %}
			[{{ p.joueur__username }}]
		{% endfor %}	
	</h2>		


<table border="2" class="StatsCouples" width="600">
	<caption>Écarts (stats3)</caption>
   	<tr>
	   	<th>Prop #</th>	
	    {% for s in stats.3  %}
		       	<td>{{ s }}</td>		
	    {% endfor%}
    </tr>

    {% for s in stats.0  %}

    <tr>
		<td> {{ forloop.counter }} </td>

    	{%for ss in s %}
    	{{ ss }}
	    	{% if ss >= 0 and ss <= 10 %}
	    		<td><div class="code_A">
		       	{{ ss|floatformat }}
		       	</div><td>	
			{% else %}
		    	{% if ss > 10 and ss <= 33.3 %}
		    		<td><div class="code_a">
			       	{{ ss|floatformat }}
			       	</div></td>
				{% else %}
			    	{% if ss > 33.3 and ss < 66.6 %}
			    		<td><div class="code_O">
				       	{{ ss|floatformat }}
				       	</div></td>	
					{% else %}
				    	{% if ss >= 66.6 and ss < 90 %}
				    		<td><div class="code_d">
						   	{{ ss|floatformat }}
		    			   	</div></td>	
						{% else %}
					    	{% if ss >= 90 and ss <= 100 %}
					    		<td><div class="code_D">
							   	{{ ss|floatformat }}
			    			   	</div></td>	
							{% else %}			
					    		<td><div class="code_X">
						    	{{ ss|floatformat }}
			    			   	</div></td>	
					    	{% endif %} 
				    	{% endif %} 
			    	{% endif %} 
	    		{% endif %} 
	    	{% endif %} 


    	{% endfor %}
	</tr>
    {%endfor%}


	<caption>Moyenne (stats1)</caption>
   	<tr>
   	<th>Moyenne</th>	
    {% for s in stats.1  %}
	       	<td>{{ s|floatformat }}</td>	
    {%endfor%}
    </tr>


   	<tr>
   	<th>Nb évals</th>	
   		
    {% for s in stats.2  %}
	       	<td>{{ s }}</td>		
    {%endfor%}
    </tr>
</table>


<hr>

	<h2>Les propositions </h2>
		{% if not props %}
			<h5>(Il n'y a aucune proposition)</h5> 
		{% else %}
			
		<table border="3" width=90%>
		<tr>
			<th>No.</th><th>Proposition</th><th>Évaluations</th>
		</tr>
		{% for prop in props  %}
				<tr><td><a href="/redico/{{ red.id }}/proposition/{{ prop.sequence }}/">{{ prop.sequence }}</td>
				<td> 
				{% if prop.preambule %}	
					Préambule: {{ prop.preambule|urlize|truncatewords:15 }}	<hr>
				{% endif %}
					{{ prop|urlize }} [Auteur: {{ prop.auteur }}] <p>
				{% if prop.lien %}
					<hr><p>Lien: {{ prop.lien|urlize }} </a>
				{% endif %}
				{% if prop.auteur == request.user %}
					<p><a href="/redico/{{ red.id }}/proposition/{{ prop.sequence }}/edit/"><h6>Éditer cette proposition</h6></a>
				{% endif%}
				</td>
				<td><h6>
						{% for e in prop.evaluation_set.all %}
							{{ e }} {{ e.joueur }}<p>
						{% endfor %}
				</h6></td>
				</tr>
		{% endfor%}
		</table>
		{% endif %}

<hr>


{% endblock content %}

{% block lapage %} 
	 templates-redicos-details.html 
{% endblock lapage %}