{% extends "propositions/detail.html" %}

{% block content %}
	<h2> Redico "{{ red.titre }}"
		</h2><h6>(redico créé par {{ red.createur }} 
			le {{ red.debut|date:"Y-m-d" }})</h6>
<hr>
	<h2>Les propositions </h2>
{% regroup evaluations by proposition as eval_list %}
<ul>			
	{% for proposition in eval_list %}
			<li> {{ proposition.grouper }}

			<ul>
				Évaluations:<br />
			 {% for e in proposition.list %}
				<tr><td> {{ item.joueur__username}}[{{ item.eval }}] </td></tr>
                <tr><td><a href="/redico/{{ red.id }}/proposition/{{ item.id }}/evaluation/ajout/">
                Évaluer</a></td></tr> <br />
 			 {% endfor %}	
			</ul>
			</li>
	{% endfor %}	

	<a href="/redico/{{ red.id }}/proposition/ajout" /> Ajouter une proposition </a>
{% endblock %}

{% block lapage %} 
	 templates-redicos-details.html 
{% endblock %}