{#{% extends "propositions/detail.html" %}#}
{% extends "base.html"  %}
{% load evaluations_tags %}
{% load gb_filters %}

{% comment %}
Parms :
red_context    = {'red': red,
                  'props': props,
                  'participants': participants,
                  'stats': stats                     
                  }
{% endcomment %}

{% block content %}

	<h2> Redico "{{ red.titre }}"
		</h2><h6>(redico créé par {{ red.createur }} 
			le {{ red.debut|date:"Y-m-d" }})</h6>

	<h2> Participants: 
		{% for p in participants %}
				{{ p.joueur__username }} 
			{% if not forloop.last %}
			{% endif %}
		{% endfor %}	</h2>	

		<br />	<br />

		{% if not props %}
			<h5>(Il n'y a aucune proposition)</h5> 
		{% else %}
			{% include "redicos/props.html" %}
		<table border="1" >
			<caption>Les propositions</caption>	
			<tr><th>No.</th><th>Proposition</th>
			<th>Évaluations</th></tr>
			{% for prop in props  %}
				<tr>
					<td><a href="/redico/{{ red.id }}/proposition/{{ prop.sequence }}/">{{ prop.sequence }}</td>
			    <td> 
				{% if prop.preambule %}	
					Préambule: {{ prop.preambule|urlize|truncatewords:15 }}	<hr>
				{% endif %}
					{{ prop|urlize }} [Auteur: {{ prop.auteur }}] <p>
				{% if prop.lien %}
					<hr>
					<p>Lien: {{ prop.lien|urlize }} </a>
				{% endif %}
				<td>
				<table border="1" width=100% >
					{% for e in prop.evaluation_set.all %}
						<tr>
							<td> {{ e.joueur }}</td>
							{% if e.joueur == request.user %}
								<td>
								<a href="/redico/{{ red.id }}/proposition/{{ prop.sequence}}/evaluation/edit/{{ e.joueur.id }}">{{ e|abstention }}</td>							
								</td>
							{% else %}
								<td>
								{{ e|abstention }}						
								</td>
							{% endif %}
						</tr>
					{% endfor %}
				</table>
					{# Appeler le insertion_tag #} 
					{% evalueYN red.id prop.sequence request.user.id %}
				</td>
			{% endfor%}
			<a href="/redico/{{ red.id }}/proposition/ajout" /> Ajouter une proposition </a>
		</ br>

		</table>
		{% endif %}

<table border="2" >
	<caption>Moyenne des écarts (stats3)</caption>
   	<tr>
   	<td></td>
    {% for s in stats.3  %}
	       	<th>{{ s }}</th>		
    {%endfor%}
    </tr>

   	<tr>
   		<th>Moyenne</th>
    {% for s in stats.1  %}
	       	<td>{{ s|floatformat }}</td>	
       		
    {% endfor %}
    </tr>
</table>
<p>
<a href="/redico/{{ red.id }}/statsdetail" /> Détails des statistiques</a>

{% endblock content %}

{% block lapage %} 

templates-redicos-details.html 
{% endblock lapage %}