{% extends "propositions/detail.html" %}


{% block content %}

	<h2> Les propositions du redico "{{ red.titre }}"
		</h2><h6>(redico créé par {{ red.createur }} 
			le {{ red.debut|date:"Y-m-d" }})</h6>


		<table width=90%; border="1">
			<tr><th>Texte</th><th>Auteur</th><th>Préambule</th><th>Évaluation</th></tr>

	{% for e in eval %}
			<tr><td><a href="/redico/{{ red.id }}/proposition/{{ p.id }}/"/> 
						 {{ e.proposition__texte }}</a>
					<td> {{ e.proposition__auteur }} </td> 
					<td> {{ e.proposition__preambule }} </td> 
					{% if e.eval %}
						<td> {{ e.eval }} </td></tr>
					{% else %}
						<td><a href="/redico/{{ red.id}}/proposition/{{p.id}}/evaluation/ajout/" />Évaluer</a> </td>
					{% endif %}

	{% endfor %}	
	</table>
	<a href="/redico/{{ red.id }}/proposition/ajout" /> Ajouter une proposition </a>
{% endblock %}

{% block lapage %} 
	 templates-redicos-details.html 
{% endblock %}