{#{% extends "propositions/detail.html" %}#}
{% extends "base.html"  %}
{% load evaluations_tags %}
{% load gb_filters %}

{% comment %}
Parms :
red_context    = {'red': red,
                  'props': props,
                  'participants': participants,
                  'stats': stats                     
                  }
{% endcomment %}

{% block content %}

	<h2> Redico "{{ red.titre }}"
		</h2><h6>(redico créé par {{ red.createur }} 
			le {{ red.debut|date:"Y-m-d" }})</h6>

	{% if not participants %}
		<h2>Aucun participant</h2>
	{% else %}
		<h2> Participants: 
			{% for p in participants %}
					{{ p.joueur__username }} 
				{% if not forloop.last %}
				{% endif %}
			{% endfor %}	</h2>	
	
			<br />	<br />
		{% endif %}

		{% include "redicos/props.html" %}


<table border="2" >
	<caption>Moyenne des écarts (stats3)</caption>
   	<tr>
   	<td></td>
    {% for s in stats.3  %}
	       	<th>{{ s }}</th>		
    {%endfor%}
    </tr>

   	<tr>
   		<th>Moyenne</th>
    {% for s in stats.1  %}
	       	<td>{{ s|floatformat }}</td>	
       		
    {% endfor %}
    </tr>
  
</table>

<p>
<img src="weighted_graph.png" alt="" width="32" height="32"></img>
</p>


<p>

{% endblock content %}

{% block lapage %} 

templates-redicos-details.html 
{% endblock lapage %}
