{% extends "base.html" %}
{% load evaluations_tags %}

{% block title %}Ajout d'un redico{% endblock %}
{% block content %}
    	<form method="POST" action=".">{% csrf_token %}
    	<table cellpadding="0">
        		{{ form.as_p }}
        </table>
    <input type="submit" value="Sauvegarder" />
    </form>
{% endblock content %}

{% block lapage %} 
	 templates-redicos-edit.html 
{% endblock %}
