{% extends "base.html" %}

{% block title %}Edition d'un redico{% endblock %}
{% block content %}

    <form method="POST" action="{% url redico.redicos.view.ajout-edit redico_id%}">{% csrf_token %}
    	<table cellpadding="0">
        	{{ form.as_table }}
        </table>
    <input type="submit" value="Sauvegarder les modifications" />
    </form>
{% endblock %}

{% block lapage %} 
	 templates-redicos-ajout.html 
{% endblock %}
