{# redicos/index.html #}
{% extends "base.html" %} 
{% load evaluations_tags %}

{% block title %} Index des redicos - {{ block.super }} {%endblock%}


{% block content %}

	{% if reds %}
		<table border="1">
			<tr>
			<caption> La liste des redicos </caption>
			<th>Titre</th>
			<th>Nb props</th>
			<th>Nb joueurs</th>
			<th>Début</th>
			<th>Statistiques</th>
			
		    </tr>

		{% for red in reds %}
		<tr>
			<td><a href="/redico/{{ red.id }}/"> {{ red.titre|urlize }} [{{ red.createur }}]</a></td>
			<td>{{ red.proposition__count }}</a></td>			
			<td>{{ red.proposition__evaluation__joueur__count }}</td>
			<td>{{ red.debut|date:"Y-m-d H:i "  }}</td>
			<td>
			<a href="/redico/{{ red.id }}/statsdetail/"><button>{{ red.titre|truncatewords:2|slice:":15" }}</button></a>
			</td>			
		</tr>
		{% endfor %}
	</table>
	
	{% else %}
	    <p>Aucun redico à lister.</p>
	{% endif %}
	<br />

	{% if user.is_authenticated %}
		<a href="/redico/ajout/"><button>Ajout d'un nouveau Redico</button></a>
	{% endif %}
{% endblock %}

{% block lapage %} 
	 templates-redicos-index.html 
{% endblock %}
