{% load evaluations_tags %}
{% load gb_filters %}


		{% if not props %}
			<h2><p></p>Aucune proposition</h2> 
			<p><a href="/redico/{{ red.id }}/proposition/ajout" /> Ajouter une proposition </a>
		{% else %}
			<table border="1" >
				<caption>Pour suivre ce redico, il faut commencer par les premières propositions qui sont <b>au bas</b> de la page)</caption>	
				<tr><th>No.</th><th>Proposition</th><th>Évaluations</th></tr>
				{% for prop in props  %}
					<tr>
						<td>
							<a name="{{ prop.sequence }}" href="/redico/{{ red.id }}/proposition/{{ prop.sequence }}/">{{ prop.sequence }}
						</td>
				    <td> 
					{% if prop.preambule %}	
						Préambule: {{ prop.preambule|safe|urlize|truncatewords:50|removetags:"span script"  }}	<hr>
					{% endif %}
						[<strong>{{ prop.auteur }}</strong>] {{ prop|safe|urlize|removetags:"span script" }} <p>
					{% if prop.lien %}
						<hr>
						<p>Lien: {{ prop.lien|safe|urlizetrunc:80|removetags:"span script" }} </a>
					{% endif %}
					<td>
					<table border="1" width=100% >
						{% for e in prop.evaluation_set.all %}
							<tr>
								<td> {{ e.joueur.username|slice:":7" }}</td>
								{% if e.joueur == request.user %}
									<td>
									<a href="/redico/{{ red.id }}/proposition/{{ prop.sequence}}/evaluation/edit/{{ e.joueur.id }}">{{ e|abstention }}</td>							
									</td>
								{% else  %}
										{% if e.commentaire %}
										<td><a title="{{ e.commentaire }}" 
												href="/redico/{{ red.id }}/proposition/{{ prop.sequence }}/"><b><i>
												{{ e|abstention }} *</i></b></td>
										{% else %}
											<td>{{ e|abstention }}</td>
										{% endif %} 
								{% endif %}
							</tr>
						{% endfor %}
					</table>
						{# Appeler le insertion_tag pour afficher si on peut evaluer #} 
						{% evalueYN red.id prop.sequence request.user.id %}
					</td>
				{% endfor%}

				<span id="Bas"></span> 

				<p><a href="/redico/{{ red.id }}/proposition/ajout" /> <button>Ajouter une proposition </button></a>
				<a href="/redico/{{ red.id }}/statsdetail" /> <button>Tableau des statistiques </button></a>
				<a href="#Haut"><button>Bas</button></a>
	
			</table>

		{% endif%}
				<span id="Haut"></span>
				<p><a href="/redico/{{ red.id }}/proposition/ajout" /> <button>Ajouter une proposition </button></a>
				<a href="/redico/{{ red.id }}/statsdetail" /> <button>Tableau des statistiques </button></a>
				<a href="#Bas"><button>Haut</button></a>


