{% extends "base.html" %}
{#{% load gb_filters %}#}

{% comment %}
Parms :
red        = Redico.objects.get(pk=redico_id)
props      = Proposition.objects.filter(redico=redico_id) # Cf props.evaluateurs
dejaEvalue = Evaluation.objects.filter(joueur=request.user.id).values('proposition')
{#{% extends "propositions/detail.html" %}#}
{% endcomment %}

{% block colonne-droite %}
{% endblock %}

{% block content %}

	<h2> Redico "{{ red.titre }}"
		</h2><h6>(redico créé par {{ red.createur }} 
			le {{ red.debut|date:"Y-m-d" }})</h6>
<hr>

	<h2> Participants: 
		{% for p in participants %}
				{{ p.joueur__username }} 
			{% if not forloop.last %}
				-			
			{% endif %}
		{% endfor %}	
	</h2>		


	<table id="detail_stats_table" border="2" class="StatsCouples" >
		<caption>Écarts</caption>
	   	<tr>
		   	<th>Prop #</th>	
		    {% for s in stats.3  %}
			       	<td><strong>{{ s }}</strong></td>		
		    {% endfor%}
	    </tr>
	
	    {% for s in stats.0  %}
		{% if forloop.counter|divisibleby:"15" %}	
	   	<tr>
		   	<th></th>	
		    {% for s in stats.3  %}
			       	<td><strong>{{ s }}</strong></td>		
		    {% endfor%}
	    </tr>
		{% endif %}



	    <tr>
			<td> <a href="#{{ forloop.counter }}">  {{ forloop.counter }} </a></td>

	

	    	{%for ss in s %}
		    	{% if ss >= 0 and ss <= 10 %}
		    		<td><div class="code_A">
			       	{{ ss|floatformat }}
			       	</div></td>	
				{% else %}
			    	{% if ss > 10 and ss <= 33.3 %}
			    		<td><div class="code_a">
				       	{{ ss|floatformat }}
				       	</div></td>
					{% else %}
				    	{% if ss > 33.3 and ss < 66.6 %}
				    		<td><div class="code_O">
					       	{{ ss|floatformat }}
					       	</div></td>	
						{% else %}
					    	{% if ss >= 66.6 and ss < 90 %}
					    		<td><div class="code_d">
							   	{{ ss|floatformat }}
			    			   	</div></td>	
							{% else %}
						    	{% if ss >= 90 and ss <= 100 %}
						    		<td><div class="code_D">
								   	{{ ss|floatformat }}
				    			   	</div></td>	
								{% else %}			
						    		<td><div class="code_X">
							    	{{ ss|floatformat }}
				    			   	</div></td>	
						    	{% endif %} 
					    	{% endif %} 
				    	{% endif %} 
		    		{% endif %} 
		    	{% endif %} 
	
	
	    	{% endfor %}
		</tr>
	    {%endfor%}
	
	   	<tr>
		   	<th>Joueurs</th>	
		    {% for s in stats.3  %}
			       	<td><strong>{{ s }}</strong></td>		
		    {% endfor%}
	    </tr>
	
		<caption>Moyenne (stats1)</caption>
	   	<tr>
	   	<th>Moyenne</th>	
	    {% for s in stats.1  %}
		       	<td>{{ s|floatformat }}</td>	
	    {%endfor%}
	    </tr>
	
	
	   	<tr>
	   	<th>Nb évals</th>	
	   		
	    {% for s in stats.2  %}
		       	<td>{{ s }}</td>		
	    {%endfor%}
	    </tr>
	</table>

		{% include "redicos/codes.html" %}
		<hr>
		{% include "redicos/props.html" %}
		<hr>
{% endblock content %}

{% block lapage %} 
	 templates-redicos-statsdetails.html 
{% endblock lapage %}
